@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins&display=swap');


footer {

    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 5rem;  
    justify-content: center;
    display: inline-flex;
    font-weight: 400;
    flex-wrap: wrap;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    flex-shrink:0;
  
  
  }